/*esto es un comentario en css*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

/*barra de nabegacion*/
.bg-navbar {
    background-color: #00358E;
}
.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #bcc9c6;
}

/*fondo banner*/
.banner {
    background-image: url(../images/jeff-sheldon-9dI3g8owHiI-unsplash_recortada.jpg);
    width: 100%;
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;
}

/*perfil curriculum*/
.perfil {
    background-color: #00358E;
    color: #fff;
    width: 100;
    height: 50vh;
    background-repeat: no-repeat;
}

.sobremi {
    margin-left: 20%;
    margin-top: 12%;
}

/*aptitudes de educacion y experiencia*/
section.aptitude {
    background-image: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    color: #fff;
    background-size: cover;  
    position: relative;  
}

.experiencia {
    margin-left: 5%;
}

.gerente {
    margin-left: 8%
}

.docente {
    padding-bottom: 5%;
    margin-left: 8% 
}

.educacion {
    margin-top: 10%;
    margin-left: 5%;
}

.terciario {
    margin-left: 8%
}

.licenciatura {
    margin-left: 8% 
}

/*skills y habilidades blandas*/
section.skills {
    background-color: #00358E;
    color: #fff;
    width: 100;
    height: 150vh;
    background-repeat: no-repeat;
}

/*proyectos en los que trabajo*/
section.proyectos {
    background-image: url(../images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    color: #fff;
    background-size: cover;  
    position: relative; 
}

section.footer {
    text-align: center;
    background-color: #222326;
    color: #fff;
    width: 100;
    height: 15vh;
    background-repeat: no-repeat;
}

/*pagina de contacto*/
.list-group {
    --bs-list-group-border-width: 0px;
}









